@model Category
@{
    ViewBag.Title = "Edit Category";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Edit Category: @Model.CategoryName</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                @using (Html.BeginForm("Edit", "Categories", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.Id)
                    <form role="form">
                        <div class="card-body">
                            <div class="form-group">
                                @Html.LabelFor(x => x.CategoryName)
                                @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control", placeholder = "Category Name..." })
                                @Html.ValidationMessageFor(x => x.CategoryName, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Slug)
                                <div class="form-inline align-content-start">
                                    @Html.TextBoxFor(x => x.Slug, new { @class = "form-control flex-fill mr-2", placeholder = "short-url" })
                                    <a id="refreshSlug" href="#" class="mx-1 text-secondary"><i class="fas fa-sync-alt"></i></a>
                                </div>
                                @Html.ValidationMessageFor(x => x.Slug, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
                            <button type="submit" class="btn btn-success">Save Changes</button>
                        </div>
                    </form>
                }
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>

@section scripts {
    <script>
        slug.run("#CategoryName", "#Slug", "#refreshSlug")
    </script>
}