@model ShowPostViewModel
@{
    ViewBag.Title = "Show";
}

<!-- Post Content Column -->
<div class="col">
    <!-- Title -->
    <h1 class="mt-4">@Model.Post.Title</h1>
    <!-- Author -->
    <p class="lead">
        by <a href="#" class="text-success">@Model.Post.Author.DisplayName</a>
    </p>
    <hr>
    <!-- Date/Time -->
    <p>Posted on @Model.Post.CreationTime.Value.ToLongDateString()</p>
    <hr>
    <!-- Preview Image -->
    @if (!string.IsNullOrEmpty(Model.Post.FeaturedImagePath))
    {
        <img src="@Url.FeaturedImage(Model.Post.FeaturedImagePath)" class="w-100 img-fluid rounded" alt="Post Featured Image" />
        <hr>
    }
    <!-- Post Content -->
    @Html.Raw(Model.Post.Content)
    <hr id="leave-a-comment">
    <!-- Comments Form -->
    <div class="card my-4" id="leave-a-comment">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">

            @if (Request.IsAuthenticated)
            {
                if (Request.QueryString["commentSuccess"] == "True")
                {
                    <div class="alert alert-success">
                        Your comment has been added successfully!
                    </div>
                }
                @Html.Partial("_CommentFormPartial", Model.CommentViewModel)
            }
            else
            {
                <p class="mb-0">
                    Please
                    @Html.ActionLink("login", "Login", "Account", new { returnUrl = Request.Url.AbsolutePath }, new { @class = "text-success" })
                    or
                    @Html.ActionLink("register", "Register", "Account", new { @class = "text-success" })
                    to leave a comment.
                </p>
            }
        </div>
    </div>
    <div class="comments">
    @foreach (var comment in Model.Post.Comments
        .Where(x => x.State == CommentState.stateApproved && x.ParentId == null)
        .OrderByDescending(x => x.CreationTime))
    {
        <!-- Single Comment -->
        <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="@Url.UserImage(comment.Author.UserImage)" alt="" width="50">
            <div class="media-body">
                <h5 class="mt-0">@comment.Author.DisplayName</h5>
                @comment.Content
                <br />
                @if (Request.IsAuthenticated)
                {
                    <a href="#" class="reply-button text-success" data-comment-id="@comment.Id"><small>Reply</small></a>
                }
                else
                {
                    <small>
                        @Html.ActionLink("login", "Login", "Account", new { returnUrl = Request.Url.AbsolutePath }, new { @class = "text-success" })
                        <text> to reply</text>
                    </small>
                }
                <div class="reply-form-wrapper"></div>
                @foreach (var subcomment in comment.Children
                    .Where(x => x.State == CommentState.stateApproved)
                    .OrderByDescending(x => x.CreationTime))
                {
                    <!-- Single Comment -->
                    <div class="media mt-4">
                        <img class="d-flex mr-3 rounded-circle" src="@Url.UserImage(subcomment.Author.UserImage)" alt="" width="50">
                        <div class="media-body">
                            <h5 class="mt-0">@subcomment.Author.DisplayName</h5>
                            @subcomment.Content
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    </div>

</div>

@section scripts {
    <script>
        setTimeout(function () {
            if (location.hash == "#leave-a-comment") {
                window.scrollTo(0, $("#leave-a-comment").offset().top - 65);
            }
        }, 50);

        setTimeout(function () {
            if (location.hash == "#comments") {
                window.scrollTo(0, $("#leave-a-comment").offset().top - 65);
            }
        }, 50);

        $(".reply-button").click(function (event) {
            event.preventDefault();

            //close if already opened
            if ($(this).next(".reply-form-wrapper").html()) {
                $(this).next(".reply-form-wrapper").html("");
                return;
            }
            var commentId = $(this).data("comment-id");
            var frm = $("#leave-a-comment form").clone();

            // change style of cloned form
            // change style of the clone
            frm.addClass("d-flex justify-content-end");
            frm.find(".form-group").addClass("flex-fill mb-0");
            frm.find("button").addClass("btn-sm align-self-end ml-1");

            frm.find("#ParentId").val(commentId);
            $(".reply-form-wrapper").html("")
            $(this).next(".reply-form-wrapper").html(frm); // clone kullanmazsak frm'nin kendisini taşır. outerHTML de kullanılabilir
        });
    </script>
}