@model List<Comment>
@{
    ViewBag.Title = "Comments";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Manage Comments</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table data-table="true" data-table-sort-order="desc" data-table-sort-column="0" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Content</th>
                    <th>Author</th>
                    <th>Post Title</th>
                    <th>Time Created</th>
                    <th>on Air</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>
                            @item.Content
                        @if (item.ParentId != null)
                        {
                            <span class="float-right swal2-bottom-end text-success">replied to Comment#@item.ParentId</span>
                        }
                        </td>
                        <td>@item.Author.DisplayName</td>
                        <td>@item.Post.Title</td>
                        <td>@item.CreationTime.Value</td>
                        <td>
                            @Html.CheckBox("onAir", item.State == CommentState.stateApproved, new
                            {
                           data_bootstrap_switch = "",
                           data_off_color = "dark",
                           data_on_color = "success",
                           data_off_text = "No",
                           data_on_text = "Yes",
                           data_comment_id = item.Id
                            })
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-warning">
                                <i class="fas fa-edit"></i>Edit
                            </a>
                            <a href="#" class="btn btn-danger" data-delete-id="@item.Id" data-delete-name="Comment #@item.Id" data-delete-action="@Url.Action("Delete")">
                                <i class="fas fa-trash"></i>Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
@Html.Partial("_DeleteModelPartial")
@section scripts{
    <script>
        $("input[data-bootstrap-switch]").each(function () {

            var state = $(this).prop('checked');  // bunun yerine dogrudan state propertysine de yazılabilir
            var checkbox = this;

            $(this).bootstrapSwitch({
                state: state,
                onSwitchChange: function (event, state) {
                    var onAir = state;
                    var commentId = $(this).data("comment-id");

                    $.post("@Url.Action("ChangeState", "Comments")", { id: commentId, onAir: onAir }, function (data) {
                        // successful
                    }).fail(function (xhr, status, error) {
                        $(checkbox).bootstrapSwitch("state", !state, true);
                        });
                }
            });
        });
    </script>
}